/* 
    *The following classes are named with referrence to tailwind classes 
    *and are used to style the components in the app
    *These classes are not fully responsive so a different set of responsive classes are used for mobile devices
    *Responsiveness for the following devices are supported:
        *iPhone 5
        *iPhone X
        *iPad
        *iPad Pro
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.p-4 {
    padding: 1rem;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-screen {
    width: 100vw;
}

.h-screen {
    height: 100vh;
}

.bg-red-500 {
    background-color: #f56565;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-center {
    text-align: center;
}

.text-blue-500 {
    color: #4299e1;
}

.h-2\/10 {
    height: 20%;
}

.h-8\/10 {
    height: 80%;
}

.w-1\/2 {
    width: 50%;
}

.h-1\/2 {
    height: 50%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

.bg-blue-700 {
    background-color: rgb(29 78 216);
}

.text-white {
    color: #fff;
}

.text-md {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.font-bold {
    font-weight: 700;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.rounded {
    border-radius: 0.25rem;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* *Media queries */


/* *iPhone 5 */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .ip5_h-1\/2 {
        height: 50%;
    }
    .ip5_text-3xl {
        font-size: 1.4rem;
    }
    .ip5_py-4 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .ip5_px-8 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .ip5_text-md {
        font-size: 1rem;
    }
}


/* *iPhone X */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
    .ipx_h-6\/10 {
        height: 60%;
    }
    .ipx_h-4\/10 {
        height: 40%;
    }
    .ipx_text-3xl {
        font-size: 1.6rem;
    }
    .ipx_py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .ipx_px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .ipx_text-md {
        font-size: 1.2rem;
    }
}


/* *iPad */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .ipD_h-6\/10 {
        height: 60%;
    }
    .ipD_h-4\/10 {
        height: 40%;
    }
    .ipD_text-5xl {
        font-size: 3rem;
    }
    .ipD_py-4 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .ipD_px-8 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .ipD_text-md {
        font-size: 2rem;
    }
}


/* *iPad Pro */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .ipDP_h-7\/10 {
        height: 70%;
    }
    .ipDP_h-3\/10 {
        height: 30%;
    }
    .ipDP_text-5xl {
        font-size: 5rem;
    }
    .ipDP_py-4 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .ipDP_px-8 {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .ipDP_text-md {
        font-size: 3rem;
    }
}